.content-info{
    position: relative;

}

/*Download button*/
.download-button-icon{
    width: 1.4rem;
    height: 1.4rem;
    fill: #1C1C1E;
    margin-right: .5rem;
}
/*Arrow Buttons*/
.arrow-button-icon{
    width: 1.6rem;
    height: 1.6rem;
    fill: #1C1C1E;
    margin-left: 1.5rem;
    transform: translateY(.3rem);
}

.resources-contact-button-icon{
    width: 2rem;
    height: 2rem;
    fill: #1C1C1E;
    margin-right: 1.5rem;
    transform: translateY(.4rem);

    
}

/*ABOUT/COMPETITION/RULES*/

.competition,
.rules,
.committee,
.leagues,
.futsal{
    padding: 8rem 0;
    
}

.about{
    // display: flex;
    // flex-flow: row wrap;
    // align-items: center;
    position: relative;
    padding: 8rem 0;

    &__container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__image{
        flex: 1;

        &--img{
            width: 100%;
            display: block;
        }
    }
    &__text{
        flex: 1;
        margin-right: 5rem;


    }

    &__link{
        margin-top: 3rem;
    }
}


.competition{

    &__form{
        margin-top: 4rem;
    }
}





.rule-list-box{
    display: flex;
    justify-content: space-between;

    & > :not(:last-child){
        margin-right: 3rem;
    }
}
.rules__img{
    width: 100%;
}
.rules__subhead{
    font-size: 2rem;
    margin: 3rem 0;
}
.rules__list{
    margin: 4rem 0 0 3rem;
    position: relative;

    & > *{
        padding-left: 4rem;
        padding-bottom: 6rem;
        position: relative;
        
        &::before{
            content: " ";
            background-size: cover;
            left: 0; 
            top: 0;
            transform: translateX(-50%);
            position: absolute;
            border-radius: 50%;
            padding: .5rem;
            height: 2rem;
            width: 2rem;
            // background-color: #fff;
            text-align:center;
            color: white;
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }

    & > :not(:last-child){
        border-left: 2px dashed #333;
    }
}



.leagues{

    &__link{
        display: inline-block;
        color: #fff;
        fill: #fff;
        
    }


    &-box{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
        margin: 15rem 0 3rem 0;

        & > :not(:last-child){
            margin-right: 2rem;
        }
    }

    &__card{
        flex: 0 0 17rem;
        margin-bottom: 3rem;
        box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.3);
        text-align: center;
        border-radius: 1rem;
        position: relative;
        padding-bottom: 2rem;

        &--icon{
            position: absolute;
            top: -20%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
        }
        &--svg{
            width: 3rem;
            height: 3rem;
            

            &-dominant{
                width: 4rem;
                height: 4rem;
                
            }
        }
        &--header{
            padding: 1rem;
            margin-bottom: 3rem;
            font-weight: 600;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
        }
        &--body{
            & > *{
                margin: 0 1.5rem 1rem 1.5rem;
            }

            & > :not(:last-child){
                padding-bottom: 1rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
        &--premier{
            order: 5;
        }
        &--d1{
            order: 1;
        }
        &--d2{
            order: 2;
        }
        &--d3{
            order: 3;
            height: 27rem;
        }
        &--d4{
            order: 4;
        }




        
    }
}



.committee{
    margin-bottom: 5rem;

    &__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
    }

    &__item{
        flex: 0 0 20rem;
        margin: 2rem;
        border-radius: .5rem;
        position: relative;
        cursor: pointer;


        &:hover .committee__image-box--contact{
            opacity: 1;
            transform: translate(-50%, -50%);
        }
        

    }
    &__box{
        box-sizing: border-box;
        width: 100%;
        padding: 1.5rem;
        position: relative;
    }
    &__image-box{
        position: relative;

        &--img{
            width: 100%;
            display: block;
            border-radius: 1rem;
        }

        &--contact{
            position: absolute;
            box-sizing: border-box;
            width: 80%;
            padding: 5rem .5rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -20%);
            display: inline-block;
            word-wrap: break-word;
            background-color: rgba(#333, .8);
            text-align: center;
            color: #fff;
            border-radius: 1rem;
            opacity: 0;
            transition: all .3s ease-out;
            cursor: initial;

            &-icon{
                width: 1.6rem;
                height: 1.6rem;
                fill: #fff;
                margin-bottom: 1.5rem;
            }
        }
    }
    


    &__caption{
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
        box-sizing: border-box;
        background-color: transparent;
        line-height: 2rem;

        &--name{
            font-size: 1.4rem;
        }
    }
    &__backdrop{
        position: absolute;
        height: 80%;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
    }
}

.futsal{
    height: 400px;
    background-image: url("../img/kick.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;

    &-container{
        display: inline-block;
        box-sizing: border-box;
        padding: 5rem;
        color: #fff;
        border-radius: 2rem;

        &__body-text{
            font-size: 2rem;
            line-height: 4rem;
        }
        &__link{
            background-color: #fff;
            margin-top: 5rem;
            transition: all .3s ease-out;
            &:hover{
                background-color: rgba($cufl-secondary, 1);
            }
            
        }
    }
}



.resources__sub-heading{
    font-size: 2.5rem;
}
.resources{


    &__contact{
        margin-bottom: 5rem;

        &--box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 4rem 0;
        }

        &--link{
            font-size: 1.7rem;
            transition: background-color .3s ease-out;
            
        }
    }


    &__downloads{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 5rem 0;

        & > :not(:last-child){
            margin-right: 3rem;
        }

        &--club-guide, &--team-sheet{
            padding: 3rem 1rem;
            box-sizing: border-box;
            flex: 1 1 40%;
            border-radius: 1rem;
            text-align: center;
        }

        &--link{

            margin-top: 4rem;
        }
    }




    
    &__referee-box{

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    
    
        &--card{
            flex: 1 0 25%;
            margin-right: 3rem;
            margin-bottom: 3rem;
            
    
            &-sub-heading{
                display: inline-block;
                padding: 1.2rem 4rem;
                border-radius: 3rem;
                box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
                text-align: center;
                background-color: #fff;
                box-sizing: border-box;
                transform: translateY(50%);
                width: fit-content;
    
            
            }
        }
        &--icon{
            width: 1.4rem;
            height: 1.4rem;
            margin-right: .5rem;
            &-sub-head{
                width: 1.6rem;
                height: 1.6rem;
            }
        }
        &--contact-card{
            display: block;
            padding: 4rem 2rem 2rem 2rem;
            border-radius: 1rem;
            line-height: 2.7rem;
            
        }
    }

   
}