.u-bold{
    font-weight: 600;
}
.u-heading{
    font-size: 3rem;
    flex: 1 0 2;
    margin-bottom: 3rem;
    
    
}
.u-line{
  background-color: #333;
  height: .9px;
  display: block;
  backface-visibility: hidden;
  flex: 1.5;
}

.u-center{
  text-align: center;
}

.u-uppercase{
    text-transform: uppercase;
}
.u-paragraph{
    line-height: 3.5rem;
}

/*button*/
.btn:link,
.btn:visited{
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  backface-visibility: hidden;
  position: relative;
  border-radius: 3rem;
  padding: 1.5rem 4rem;
  color: #1C1C1E;
}
.btn:hover{
  transform: translateY(-0.188rem);
  box-shadow: 0 0.8rem 0.5rem rgba(0, 0, 0, 0.1);
}
.btn:active{
  transform: translateY(-0.063rem);
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.05);
}


