$cufl-primary: #56ab2f;
$cufl-primary-dark: #1d7b00;
$cufl-secondary: #89dd5f;
$cufl-tertiary: #a8e063;

$iufu-secondary: #1e3c72;
$iufu-primary-dark: #001746;
$iufu-primary: #5066a1;
$iufu-tertiary: #2a5298;

$cfai-primary: #3CA55C;
$cfai-primary-dark: #007531;
$cfai-secondary: #71d78a;
$cfai-tertiary: #f79d00;



$wscai-primary: #FF3366;
$wscai-primary-dark: #BA265D;
$wscai-tertiary: #ff5ba8;
$wscai-secondary: #F87277;


$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
$bp-xtra-small: 21.87em; //350px