$cufl-primary: #56ab2f;
$cufl-primary-dark: #1d7b00;
$cufl-secondary: #89dd5f;
$cufl-tertiary: #a8e063;

$iufu-primary: #1e3c72;
$iufu-secondary: #5066a1;
$iufu-tertiary: #2a5298;

$cfai-primary: #3CA55C;
$cfai-secondary: #71d78a;
$cfai-tertiary: #B5AC49;


$wscai-primary: #ee0979;
$wscai-secondary: #ff5ba8;
$wscai-tertiary: #ff6a00;